.box{
    margin-top: 10% ;

}
.box-row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px; 
    border: 2px solid grey;
    color:rgb(14, 14, 102);
    font-size:xx-large;
    
    /* margin: 3px; */

}
button{
    font-size: larger;
    color:azure;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}